body {
    background: #eee;
}

label {
    font-weight: 500;
}

input, button {
    border-radius: 0px !important;
    height: 50px !important;
}

.form-signin {
    max-width: 500px;
    background: #ffffff;
    margin: 100px auto;
    padding: 50px 35px;
}

.header {
    width: 100%;
    height: 60px;
    background: #000000;
    color: #fff;
}

.header h4 {
    margin-top: 13px;
}

.main {
    width: 100%;
    height: auto;
    padding: 40px 30px;
}

.list-group-item-action {
    background: #ffffff;
    color: #000000;
    border-radius: 0px !important;
    font-size: 14px;
}

.right-panel {
    background-color: #ffffff;
    padding: 20px 20px;
}

.form-search {
    padding: 20px 10px;
    margin: 0 auto;
}

.form-search button, .form-search input {
    height: 40px !important;
}

.form-search button {
    width: 150px;
}

.form-upload-dsr {
    padding: 30px 20px;
}

.form-upload-dsr input {
    height: 35px !important;
}

.form-upload-dsr button[type="submit"] {
    width: 200px;
    height: 45px !important;
}

.footer {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #000000;
    padding-top: 15px;
}